{
  "extends": [
    "next",
    "plugin:prettier/recommended" // Add this line
  ],
  "plugins": ["prettier"], // Ensure this line is present
  "rules": {
    "prettier/prettier": "warn" // This should work now
  }
}

